<!DOCTYPE html>
<html>
<head>
<title>MILA Staff Portal</title>
</head>
<body>
<h1>MILA Staff Portal</h1>
<% if (locals.error) { %>
<script>
alert("<%= error %>");
</script>
<% } %>
<form action="/login" method="POST">
<label>Username:</label><br>
<input type="text" name="username" required><br><br>
<label>Password:</label><br>
<input type="password" name="password" required><br><br>
<button type="submit">Login</button>
</form>
<br>
<p><i>Hint: Try logging in with 'admin', 'editor', or 'viewer'. Password is 'pass123' for all.</i></p>
</body>
</html>